@{
  Layout = "_Layout";
}
@using WordPuzzle.Models;

<h1> It's Hurdlin' Time!</h1>

@* @if (@Model.Count == 0)
{
  <h3>No Game Loaded!</h3>
  <p><a href="/">Reload from Home</a></p>
} *@

<div>
  @* <form action="">
    @foreach (Char char  in Words.AllWords)
    <label for="first-letter">1</label>
    <input id="letter" name="first-letter" type="text"> *@

  </form>
</div>